<!--Form Handling-->
<form method="POST" action="/login/cekLogin" id="login_user">
    <div class="new_user">
        <div class="form-group">
            <label class="text-light">Phone Number</label>
            <input name="phoneNumberUserInput" type="text" id="inputNumber" placeholder="Enter Phone Number">
        </div>

        <div class="form-group">
            <label class="text-light">Password</label>
            <input name="passwordUserInput" type="password" id="inputPassword" placeholder="Enter Password">
        </div>

        <div class="form-group">
            <button type="submit" class="btn text-button update">Login</button>
            <p class="text-center">Don't have an account? <a href="/add-user">Create One</a> </p>
        </div>
    </div>
</form>